<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{blog_to_render['id']}}. {{blog_to_render['title']}}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title">
            <h1>
                {{blog_to_render['title']}}
            </h1>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <h2>
                {{blog_to_render['subtitle']}}
            </h2>
            <p>
                {{blog_to_render['body']}}
            </p>
        </div>
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Iran.</p>
</footer>
</html>