{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Rate</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="container mt-5">
      <span>Book Name:</span> {{ book.name }} 
      <br><br>
      <span>Current Rating:</span> {{ book.rate }}
      <br><br>
      <form action="{{ url_for('edit_rate', id=book.id) }}" method="POST" novalidate>
        {{ form.csrf_token }}
          {{ form.book_rate.label }}
          {{ form.book_rate }}
          
          {% if form.book_rate.errors: %}
            <ul>
              {% for error in form.book_rate.errors: %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        <br><br>
        {{ form.submit }}
      </form> 
    </div>



    {{ bootstrap.load_js() }}
  </body>
</html>
