{% from 'bootstrap4/table.html' import render_table %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="d-flex justify-content-center vh-100 pt-5">
      <div class="container justify-content-center align-items-center col-6">
      {% if request.args.get('is_submited'): %}
        <h1 class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Your record successfully recieved! Thanks !</h1>
      {% endif %}
      <h1>My Library</h1>
      <ul>
        {% if not all_books|length == 0  %}
          {% for book in all_books: %}
            <li>
              {{ book.name }} - {{ book.author }} - {{ book.rate }}/10 
            </li>
          {% endfor %}
          <!-- {{ render_table(all_books) }} -->
        {% else: %}
            <p>Library is empty.</p>
        {% endif %}
      </ul>



      <a class="btn btn-outline-primary" href="{{ url_for('add') }}">Add New Book</a>

      {{ bootstrap.load_css() }}
      </div>
    </div>
  </body>
</html>
